<?xml version="1.0" encoding="UTF-8"?>
<server>

	<serverId>10001</serverId>
	<serverPort>9529</serverPort>
	<webSocketServerPort>9528</webSocketServerPort>
	<!-- 客户端封包最大字节数 -->
	<maxReceiveBytes>566836428</maxReceiveBytes>


	<!-- http后台管理 -->
	<adminPort>8082</adminPort>
	<whiteIps>127.0.0.1;192.168.*;10.11.*;0:0:0:0:0:0:0:1</whiteIps>

	<!--匹配服http地址 -->
	<!--<http-server>
		<http_port>8899</http_port>
	</http-server>-->
	<matchUrl>http://localhost:8899/</matchUrl>
	<!--本服是否为战斗服 -->
	<fight>true</fight>
	<!--对外跨服端口 -->
	<crossPort>9627</crossPort>

	<redisUrl>118.31.236.188:6390</redisUrl>
</server>